---
api_server_namespace: "{{ metal_stack_cloud_namespace }}"
api_server_replicas: 1

api_server_session_secret: geheim

api_server_log_level: debug
# this disables sending mails if coupon usage drains
# do not enable this for production use-cases
api_server_log_only: false

api_server_github_client_id: "{{ lookup('env', 'GH_CLIENT_ID') | default('', true) }}"
api_server_github_client_secret: "{{ lookup('env', 'GH_CLIENT_SECRET') | default('', true) }}"
api_server_azure_application_id: "{{ lookup('env', 'AZ_APPLICATION_ID') | default('', true) }}"
api_server_azure_client_secret: "{{ lookup('env', 'AZ_CLIENT_SECRET') | default('', true) }}"
api_server_google_application_id: "{{ lookup('env', 'GOOGLE_APPLICATION_ID') | default('', true) }}"
api_server_google_client_secret: "{{ lookup('env', 'GOOGLE_CLIENT_SECRET') | default('', true) }}"
api_server_stripe_secret_key: "{{ metal_stack_cloud_stripe_private_token }}"

api_server_ingress_dns: "api.{{ metal_stack_cloud_ingress_dns }}"
api_server_ingress_tls_enabled: true
api_server_ingress_annotations:

api_server_http_url: https://api.{{ metal_stack_cloud_ingress_dns }}
api_server_frontend_url: https://console.{{ metal_stack_cloud_ingress_dns }}

api_server_masterdata_api_hostname: masterdata-api.metal-control-plane.svc.cluster.local
api_server_masterdata_api_hmac: change-me
api_server_masterdata_api_port: 8443

api_server_metal_api_url: http://metal-api.metal-control-plane.svc.cluster.local:8080
api_server_metal_api_hmac: metal-admin

api_server_auditing_timescaledb_enabled: true
api_server_auditing_timescaledb_host: "auditing-timescaledb.metal-control-plane.svc.cluster.local"
api_server_auditing_timescaledb_port: "5432"
api_server_auditing_timescaledb_db: "auditing"
api_server_auditing_timescaledb_user: "postgres"
api_server_auditing_timescaledb_password: "change-me"
api_server_auditing_timescaledb_retention: "14 days"

api_server_rate_limit_max_requests_per_minute: 1000
api_server_rate_limit_max_unauthenticated_requests_per_minute: 50

api_server_gardener_kubeconfig: ""

api_server_pdb_enabled: true
api_server_pdb_min_available: 1

api_server_hpa_enabled: false
api_server_hpa_min: 2
api_server_hpa_max: 5
api_server_hpa_cpu_percentage: 70

api_server_resources:

api_server_redis_addr: token-store-keydb.{{ metal_stack_cloud_namespace }}.svc.cluster.local:6379
api_server_redis_password: change-me

api_server_mail_provider: none
api_server_mail_smtp_from_name: metalstack.cloud
api_server_mail_smtp_from_address: "info@x-cellent.com"

api_server_mail_mailjet_api_key_public: "{{ lookup('env', 'MJ_APIKEY_PUBLIC') | default('', true) }}"
api_server_mail_mailjet_api_key_private: "{{ lookup('env', 'MJ_APIKEY_PRIVATE') | default('', true) }}"
api_server_mail_mailjet_config:
  # mail_templates: # mapping of mail templates to mailjet template ids
  #   Welcome: 4712279
  #   Admitted: 4727583
  #   CouponPercentageUsedWarning: 4731146
  #   CouponCompletelyUsedWarning: 4731184
  #   PaymentUpdated: 4727758

api_server_hubspot_portal_id: ""
api_server_hubspot_form_guid: ""

api_server_admin_subjects: []

api_server_default_machine_type:
api_server_after_login_url:
api_server_terms_and_conditions_url:

api_server_generate_infrastructure_tokens:
  - description: accounting-reporter
    secret: accounting-reporter-token
    admin_role: ADMIN_ROLE_VIEWER
  - description: status
    secret: status-dashboard-token
    admin_role: ADMIN_ROLE_VIEWER

api_server_virtual_garden_kubeconfig_refresher_enabled: false
api_server_virtual_garden_kubeconfig_refresher_image: ghcr.io/fi-ts/virtual-garden-kubeconfig-refresher
api_server_virtual_garden_kubeconfig_refresher_tag: v0.1.1
api_server_virtual_garden_kubeconfig_refresher_gcp_service_account_json:
api_server_virtual_garden_kubeconfig_refresher_gcp_project_id:
api_server_virtual_garden_kubeconfig_refresher_gcp_location:
api_server_virtual_garden_kubeconfig_refresher_gcp_cluster_name:
