{{- if .Values.virtualGardenKubeconfigRefresher.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: virtual-garden-kubeconfig-refresher
stringData:
  gcp_service_account.json: |
{{ .Values.virtualGardenKubeconfigRefresher.gcp.serviceAccountJSON | indent 4 }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: virtual-garden-kubeconfig-refresher
  name: virtual-garden-kubeconfig-refresher
spec:
  replicas: 1
  selector:
    matchLabels:
      app: virtual-garden-kubeconfig-refresher
  template:
    metadata:
      labels:
        app: virtual-garden-kubeconfig-refresher
    spec:
      enableServiceLinks: False
      serviceAccountName: virtual-garden-kubeconfig-refresher
      containers:
      - name: refresher
        image: {{  .Values.virtualGardenKubeconfigRefresher.image }}:{{ .Values.virtualGardenKubeconfigRefresher.tag }}
        imagePullPolicy: Always
        env:
        - name: NAMESPACE
          value: "{{ .Release.Namespace }}"
        - name: TOKEN_FILE_PATH
          value: "/etc/virtual-garden-kubeconfig/token"
        - name: KUBECONFIG_FILE_PATH
          value: "/etc/virtual-garden-kubeconfig/kubeconfig"
        - name: GOOGLE_APPLICATION_CREDENTIALS
          value: /gcp/gcp_service_account.json
        - name: GOOGLE_PROJECT_ID
          value: "{{ .Values.virtualGardenKubeconfigRefresher.gcp.projectID  }}"
        - name: GOOGLE_LOCATION
          value: "{{ .Values.virtualGardenKubeconfigRefresher.gcp.location }}"
        - name: GOOGLE_CLUSTER_NAME
          value: "{{ .Values.virtualGardenKubeconfigRefresher.gcp.clusterName }}"
        volumeMounts:
        - name: gcp
          mountPath: /gcp
          readOnly: true
      volumes:
        - name: gcp
          secret:
            secretName: virtual-garden-kubeconfig-refresher
            items:
              - key: gcp_service_account.json
                path: gcp_service_account.json
---
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app: virtual-garden-kubeconfig-refresher
  name: virtual-garden-kubeconfig-refresher
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  labels:
    app: virtual-garden-kubeconfig-refresher
  name: virtual-garden-kubeconfig-refresher
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - create
  - update
  - watch
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  labels:
    app: virtual-garden-kubeconfig-refresher
  name: virtual-garden-kubeconfig-refresher
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: virtual-garden-kubeconfig-refresher
subjects:
- kind: ServiceAccount
  name: virtual-garden-kubeconfig-refresher
  namespace: {{ .Release.Namespace }}
{{- end }}
